version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      development:
        dependency-type: "development"
        patterns:
          - "*"
      production:
        dependency-type: "production"
        patterns:
          - "*"
    commit-message:
      prefix: "chore(deps)"
    open-pull-requests-limit: 10
